@media only screen and (min-width: 32.5em) {

    header {
        display: flex;
    }

    .nav-container {
        display: flex;
        margin-left: auto;
    }

        
    .nav-list {
        display: flex;
    }

    .nav-button {
        display: flex;
        border-color: azure;
        margin-bottom: 5px;
    }

    #active-button {
        cursor: pointer;
        display: block;
        border: 2px solid #f8f9fb;
        background-color: #0c7692;
    }

    #site-name {
        padding: 0;
        margin: 10px 20px auto 0;
    }
    #site-icon {
        padding: 5px;
    }

    #color-box {
        max-width: 45%;
        display: inline-flex;
        margin-left: 20px;
    }
    
    #colors {
        width: 100%;
        height: auto;
        display: inline-block;
        
    }
    
    #color-choices {
        display: inline-block;
    }
    
    #color-choices li {
        font-family: 'Cantarell', sans-serif;
        list-style: none;
        text-align: right;
    }

    #color-choices p {
        padding-right: 5px;
    }
}