@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Mono&display=swap');

:root {
    --heading-font:'Roboto Mono', monospace;
    --paragraph-font:'Roboto Condensed', sans-serif;
}

body {
    max-width: 900px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color:black;
}

header {
    background-color: palegreen;
    font-family: var(--heading-font);
    font-weight: bold;
    color: white;
    border-radius: 20px 20px 2px 2px;
    padding: 1em;
}

main h2 {
    font-family: var(--heading-font);
    color: white;
}

#profilePic {
    margin-top: 15px;
    border-radius: 5px;
}

.lessons {
    font-family: var(--paragraph-font);
    color: palegreen;
    font-weight: bold;
    marker: none;
}

.lessons a {
    text-decoration: none;
    font-family: var(--paragraph-font);
    color: paleturquoise;
    font-weight: bold;
}

#byu {
    text-decoration: none;
    color: whitesmoke;
}

.lessons a:hover, #byu:hover {
    color: palegoldenrod;
    font-weight: bold;
} 

footer{ 
    background-color: palegreen;
    color: white;
    border-radius: 2px 2px 20px 20px;
    padding: 1em;
}