@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Mono&display=swap');

:root {
    --heading-font:'Roboto Mono', monospace;
    --paragraph-font:'Roboto Condensed', sans-serif;
}

body {
    max-width: 900px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color:black;
}

header {
    background-color: palegreen;
    font-family: var(--heading-font);
    font-weight: bold;
    color: darkslategray;
    border-radius: 20px 20px 2px 2px;
    padding: 1em;
}

main h2 {
    font-family: var(--heading-font);
    color: white;
    padding-left: 1em;
}

#profilePic {
    float: right;
    margin: -80px 45px 0px 6px;
    border-radius: 5px;
    border-style: groove;
    border-color: paleturquoise;
}

ul {
    list-style-type: none;
}

.lessons {
    font-family: var(--paragraph-font);
    color: palegreen;
    font-weight: bold;
    marker: none;
}

.lessons a {
    text-decoration: none;
    font-family: var(--paragraph-font);
    color: paleturquoise;
    font-weight: bold;
}

.byu {
    text-decoration: none;
    color: slategray;
}

.lessons a:hover, .byu:hover {
    color: white;
    font-weight: bold;
} 

footer{ 
    font-family: var(--paragraph-font);
    font-size: large;
    text-align: center;
    background-color: palegreen;
    color: darkslategray;
    border-radius: 2px 2px 20px 20px;
    padding: 1em;
}