@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Mono&display=swap');

:root {
    --heading-font:'Roboto Mono', monospace;
    --paragraph-font:'Roboto Condensed', sans-serif;
}

body {
    max-width: 900px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

header {
    background-color: palegreen;
    font-family: var(--heading-font);
    color: whitesmoke;
    text-shadow: -3px 2px 1px black;;
    border-radius: 20px 20px 5px 5px;
    border: 1px black;
    padding: 1em;
}

main h2 {
    font-family: var(--heading-font);
}

#pic-frame {
    margin-top: 15px;
    border-radius: 10px;
    float: right;
}

ul{
    text-decoration: none;
}

.lessons {
    font-family: var(--paragraph-font);
    color: palegreen;
}

.lessons a {
    text-decoration: none;
    font-family: var(--paragraph-font);
    color: paleturquoise;
}

.lessons a:hover {
    color: palegoldenrod;
} 

footer{ 
    background-color: palegreen;
    color: whitesmoke;
    text-shadow: -3px 2px 1px black;;
    border-radius: 5px 5px 20px 20px;
    border: 1px black;
    padding: 1em;
}

