@media only screen and (min-width: 32.5em) {
    .homeHeader img {
        float: right;
        border: white solid 2px;
        padding: 0;
        border-radius: 30px;
        margin: 20px 45px 0px 0px;
    }

    body {
        border-radius: 25px;
        border: white solid 5px;
    }

    header {
        border-radius: 18px 18px 2px 2px;
        padding: 1px 0px 1px 37px;
    } 
    
    .homeHeader h1 {
        font-family: 'Roboto Mono', monospace;
        font-size: 3.25em;
        margin: 35px 0px 15px 10px;
    }

    .homeMain h2 {
        border-bottom: solid 1.5px white;
    }
    footer {
        border-radius: 2px 2px 18px 18px;
    }

    .homeMain {
        margin-left: 65px;
    }
}
