body {
    max-width: 900px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color:black;
}

header {
    background-color: palegreen;
    font-family: 'Roboto Mono', Monospace;
    font-weight: bolder;
    color: black;
    border-radius: 20px 20px 2px 2px;
    padding: 10px 0px 1px 30px;
}

.homeMain h2 {
    font-family: 'Roboto Mono', Monospace;
    color: white;
    border-bottom: solid 1px white;
    margin: 10px 50px 10px 10px;
}

.homeHeader img {
    width: 200px;
    height: auto;
    border-style: groove;
    border-color: white;
}

ul {
    list-style-type: none;
}

.lessons {
    font-family: 'Roboto Condensed', sans-serif;
    color: palegreen;
    font-weight: bold;
    marker: none;
}

.lessons a {
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    color: paleturquoise;
    font-weight: bold;
}

.byu {
    text-decoration: none;
    color: slategray;
}

.lessons a:hover{
    color: white;
    font-weight: bold;
} 

.byu:hover {
    color: darkblue;
    font-weight: bold;
} 

footer{ 
    font-family: 'Roboto Condensed', sans-serif;
    font-size: large;
    font-weight: 600;
    text-align: center;
    background-color: palegreen;
    color: darkslategray;
    border-radius: 2px 2px 20px 20px;
    padding: 1em;
}
