h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Mono', Monospace;
}

body {
    max-width: 900px;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 auto;
    background-color:black;
    border: white solid 1.5px;
}

header {
    background-color: palegreen;
    font-weight: bolder;
    color: black;
    padding: 10px 0px 1px 37px;
}

.homeHeader h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3.5em;
    margin: 10px 0px 10px -25px;
}

.homeMain {
    margin: auto;
}

.homeMain h2 {
    color: white;
    border-bottom: solid 2px white;
    margin: 10px 50px 10px 10px;
}

.homeHeader img {
    width: 200px;
    height: auto;
    margin: 10px 12px;
    border-radius: 18px;
    border: white solid 2px;
}

ul {
    list-style-type: none;
}

.lessons {
    color: palegreen;
    font-weight: bold;
    marker: none;
}

.lessons a {
    text-decoration: none;
    color: paleturquoise;
    font-weight: bold;
}

.byu {
    text-decoration: none;
    color: slategray;
}

.lessons a:hover{
    color: white;
    font-weight: bold;
} 

.byu:hover {
    color: darkblue;
    font-weight: bold;
} 

footer{ 
    font-size: large;
    font-weight: 600;
    text-align: center;
    background-color: palegreen;
    color: black;
    padding: 1em;
}
