@media only screen and (min-width: 30rem) {
    header {
        display: flex;
        align-items:center;
	    justify-content:center;
        border-bottom: .0125rem dotted #fecc0a;
    }

    #breadcrumb {
        display: none;
    }

    .nav-container {
        margin-left: auto;
    }
    
    .contactInfo {
        display: flex;
    }

    .navigation li:hover {
        background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 35%,rgba(12,118,146,1) 98%,rgba(125,185,232,1) 100%); 
        text-shadow: 0px 0px 5px black;
    }

    #site-name {
        color: #f8f9fb;
        padding: 10px;  
        text-align: center;
        font-size: xx-large;
    }

    .titleHeading {
        font-size: xx-large;
        margin-bottom: 2vh;
        padding-top: 15px;
    }

    #site-icon {
        padding: 5px;
        vertical-align: middle;
        float: none;
    }
    
    .headerText {
        display: inline-flex;
        flex-direction: column;
    }

    .heroFiller {
        position: absolute;
        width: 40%;
        min-width: 200px;
        margin: initial;
        top: 1rem;
        left: 1rem;
        background: rgba(41,137,216,.9);
    }

    .heroFiller hr {
        margin: 10px auto 20px;
        width: 55%;
    }

    .heroFiller h4 {
        font-size: 1.2em;
    }

    #heroImg {
        display: inline;
        max-width: 100%;
    }
    
    .heroFiller {
        top: 25px;
        width: 28%;
        font-size: large;
    }

    #aImgContainer {
        float: right;
        width: 50%;
        border-radius: 2rem;
        padding: 1rem;
    }
    #articleImg {
        width: 100%;
    }

    #article h3 {
        font-size: larger;
        font-family: 'Raleway', sans-serif;
    }


    .filler h3 {
        font-size: x-large;
    }

    #prestonMap {
        width: 50%;
        border-radius: 5px;
        grid-row-start: 1;
        grid-row-end: 3;
        display: inline-block;
        height: fit-content;
    }


    .motto {
        padding: 0 1rem 1rem;
        font-size: smaller;
        text-align: center;
    }

    div.forecast {
        font-size: medium;
        padding: 0;
    }

    #forecastContainer {
        display: initial;
        width: 80%;
        margin: auto;
    }

    .forecast p {
        font-size: large;
    }

    .socialInfo {
        display: grid;
        box-shadow: 1px 1px 0px 2px rgba(25,37,53,1);
        border-radius: 15px;
        background: rgba(41,137,216,.9);
    }

    .png:hover {
        background-color: #f8f9fb;
        cursor: pointer;
        border-radius: 15px;
    }

    footer {
        border-bottom: outset;
    }

    /* --------------------- WEATHER GALLERY -------------------------*/

    .galleryContainer {

        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .galleryContainer figure {
        max-width: fit-content;
    }

    .gallery-image {
        display: inline;
        max-width: 100%;
    }

    /*--------------------FORM--------------------------*/

    form#weather-form {
        width: 90%;
    }

    div.some-info {
        max-width: 90%;
        width: -moz-available;
    }

    div.some-info label {
        max-width: 80%;
        margin: 2vh;
    }

    #region {
        font-family: 'Raleway', sans-serif;
        margin: auto 2vh;
        max-width: 81.5%;
    }

    form#weather-form legend {
        font-size: x-large;
        font-weight: 600;
    }

    #submit {
        margin: 15px;
        width: 25%;
        height: 4vh;
    }

    /* ------------------ Home Page/Wireframes -------------------- */
    
    div.townCard {
        display: flex;
        border-radius: 0;
    }

    div.townTextContain {
        width: 50%;
        border-radius: 0px 0px 0px 0px;
        border-right: 2px ridge #f8f9fb;
    }

    div.townTextContain p{
        margin: auto;
        padding: 2px
    }

    div.townCard:nth-child(2) {
        flex-direction: row-reverse;
    }

    div.townCard:nth-child(2) .townTextContain {
        border-left: 2px ridge #f8f9fb;
        border-right: 0em;
    }
    div.townImgContain img {
        border-radius: 0;
    }

    div.townImgContain a {
        margin: 0;
    }

    div.townImgContain {
        width: 50%;
    }

}

