@media only screen and (min-width: 32.5rem) {
    header {
        display: flex;
        align-items:center;
	    justify-content:center;
        border-bottom: .0125rem groove #fecc0a;
    }
    .nav-container {
        margin-left: auto;
        border-bottom: outset;
    }

    #site-name {
        color: #f8f9fb;
        padding: 10px;  
        text-align: center;
        font-size: xx-large;
    }

    .titleHeading {
        margin: 0;
        padding: 1rem;
        font-size: x-large;
    }

    #site-icon {
        padding: 5px;
        vertical-align: middle;
        float: none;
    }
    
    .headerText {
        display: inline-flex;
        flex-direction: column;

    }

    .motto {
        padding-bottom: 1rem;
        font-size: initial;
        text-align: center;
    }

    footer {
        border-bottom: outset;
    }
}