@media only screen and (min-width: 60rem) {
    
    main, footer {
        max-width: 900px;
        margin: auto;
    }

    .contactInfo {
        margin-top: 1vh;
        justify-content: center;
    }


    main {
        padding: .8rem;
        background: azure;
    }
    
    
    .nav-container {
        border-radius: 0 0 5px 5px;
        margin-bottom: 5px;
    }

    .navigation {
        display: flex;
    }

    #menu {
        display: none;
    }

    .heroFiller {
        width: 35%;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
        border-right: 1px groove rgba(0, 218, 360, 0.8);
        border-radius: 2px;
        background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(25,37,53,1) 98%);
    }

    .navigation a {
        padding: .8rem 1rem;
    }

    .motto {
        margin-top: -15px;
        padding: 0.3rem 0 1rem 6rem;
    }

    #site-icon {
        padding: 5px;
        vertical-align: middle;
        float: none;
    }


    footer {
        border-radius: 2px 2px 10px 10px;
    }

    /* --------------------- WEATHER GALLERY -------------------------*/

    #gallery-main {
        max-width: 100%;
    }

    #gallery-footer {
        max-width: 100%;
        justify-content: center;
    }

    .galleryContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }

    figure:hover {
        box-shadow: -2px 6px 8px 1px rgba(25,37,53,1);
    }

    figcaption {
        padding: 10px;
    }

    form#weather-form {
        width: 80%;
    }

}

